# Download ISMB Keynotes

From [this google sheet](https://docs.google.com/spreadsheets/d/1QPjvv-8Mhk6lI720PHYsNud-MjjZbCnVQqY30f1-8hI/edit#gid=0).

In [1]:
import pandas

In [2]:
url = "https://docs.google.com/spreadsheets/d/1QPjvv-8Mhk6lI720PHYsNud-MjjZbCnVQqY30f1-8hI/export?format=csv"
keynote_df = pandas.read_csv(url)
keynote_df.head()

   year          full_name fore_name    last_name
0  2002   Stephen Altschul   Stephen     Altschul
1  2002  Michael Ashburner   Michael    Ashburner
2  2002     Ford Doolittle      Ford    Doolittle
3  2002  Terry Gaasterland     Terry  Gaasterland
4  2002        Barry Honig     Barry        Honig

In [3]:
# Rows with any missing values, i.e. dataframe.keepna
keynote_df[keynote_df.isna().any(axis='columns')]

Empty DataFrame
Columns: [year, full_name, fore_name, last_name]
Index: []

In [4]:
path = "data/ismb/keynotes.tsv"
keynote_df.to_csv(path, index=False, sep='\t')