# Download ISCB honorees (keynotes / fellows)

From [this google sheet](https://docs.google.com/spreadsheets/d/1QPjvv-8Mhk6lI720PHYsNud-MjjZbCnVQqY30f1-8hI/edit#gid=0).

In [1]:
import pandas

In [2]:
url = "https://docs.google.com/spreadsheets/d/1QPjvv-8Mhk6lI720PHYsNud-MjjZbCnVQqY30f1-8hI/export?format=csv"
keynote_df = pandas.read_csv(url)
keynote_df.head()

   year         full_name fore_name last_name   conference source
0  2009  Michael Waterman   Michael  Waterman  ISCB Fellow    NaN
1  2009      Temple Smith    Temple     Smith  ISCB Fellow    NaN
2  2009    Janet Thornton     Janet  Thornton  ISCB Fellow    NaN
3  2009     David Sankoff     David   Sankoff  ISCB Fellow    NaN
4  2009      David Lipman     David    Lipman  ISCB Fellow    NaN

In [3]:
# Rows with any missing values, i.e. dataframe.keepna
keynote_df[keynote_df.isna().any(axis='columns')]

     year         full_name  fore_name last_name   conference source
0    2009  Michael Waterman    Michael  Waterman  ISCB Fellow    NaN
1    2009      Temple Smith     Temple     Smith  ISCB Fellow    NaN
2    2009    Janet Thornton      Janet  Thornton  ISCB Fellow    NaN
3    2009     David Sankoff      David   Sankoff  ISCB Fellow    NaN
4    2009      David Lipman      David    Lipman  ISCB Fellow    NaN
..    ...               ...        ...       ...          ...    ...
406  2019    Rachel Kolodny     Rachel   Kolodny       RECOMB    NaN
407  2019         Mihai Pop      Mihai       Pop       RECOMB    NaN
408  2019  Franziska Michor  Franziska    Michor       RECOMB    NaN
409  2019      Eytan Ruppin      Eytan    Ruppin       RECOMB    NaN
410  2019  Alfonso Valencia    Alfonso  Valencia       RECOMB    NaN

[335 rows x 6 columns]

In [4]:
path = "data/iscb/keynotes.tsv"
keynote_df.to_csv(path, index=False, sep='\t')